! Solarized from https://github.com/solarized/xresources

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3





! Base16 Railscasts
! Scheme: Ryan Bates (http://railscasts.com)
! https://github.com/chriskempson/base16-xresources/tree/master/xresources

!#define base00 #2b2b2b
!#define base01 #272935
!#define base02 #3a4055
!#define base03 #5a647e
!#define base04 #d4cfc9
!#define base05 #e6e1dc
!#define base06 #f4f1ed
!#define base07 #f9f7f3
!#define base08 #da4939
!#define base09 #cc7833
!#define base0A #ffc66d
!#define base0B #a5c261
!#define base0C #519f50
!#define base0D #6d9cbe
!#define base0E #b6b3eb
!#define base0F #bc9458

!URxvt.foreground:   base05
!URxvt.background:   base00
!URxvt.cursorColor:  base05

!URxvt.color0:       base00
!URxvt.color1:       base08
!URxvt.color2:       base0B
!URxvt.color3:       base0A
!URxvt.color4:       base0D
!URxvt.color5:       base0E
!URxvt.color6:       base0C
!URxvt.color7:       base05

!URxvt.color8:       base03
!URxvt.color9:       base08
!URxvt.color10:      base0B
!URxvt.color11:      base0A
!URxvt.color12:      base0D
!URxvt.color13:      base0E
!URxvt.color14:      base0C
!URxvt.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
!URxvt*.color16:      base09
!URxvt*.color17:      base0F
!URxvt*.color18:      base01
!URxvt*.color19:      base02
!URxvt*.color20:      base04
!URxvt*.color21:      base06


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! settaggi miscellanei urxvt
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.termName:         xterm-256color
URxvt.scrollBar:        false
!URxvt.font:                xft:DejaVu Sans Mono:pixelsize=13:antialias=true
URxvt.font:		xft:Hack:pixelsize=15:antialias=true
!URxvt.font:		xft:Inconsolata Medium:pixelsize=13:antialias=true
!URxvt.font:             xft:Dank Mono:pixelsize=12:antialias=true
URxvt.visualBell:        true
URxvt.urgentOnBell:         true
! Link clickabili
!URxvt.perl-ext-common: default,matcher
!URxvt.urlLauncher: /usr/bin/firefox
!URxvt.matcher.button: 1 
URxvt.intensityStyles: false
