! Base16 Railscasts
! Scheme: Ryan Bates (http://railscasts.com)
! https://github.com/chriskempson/base16-xresources/tree/master/xresources

#define base00 #2b2b2b
#define base01 #272935
#define base02 #3a4055
#define base03 #5a647e
#define base04 #d4cfc9
#define base05 #e6e1dc
#define base06 #f4f1ed
#define base07 #f9f7f3
#define base08 #da4939
#define base09 #cc7833
#define base0A #ffc66d
#define base0B #a5c261
#define base0C #519f50
#define base0D #6d9cbe
#define base0E #b6b3eb
#define base0F #bc9458

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05

URxvt.color0:       base00
URxvt.color1:       base08
URxvt.color2:       base0B
URxvt.color3:       base0A
URxvt.color4:       base0D
URxvt.color5:       base0E
URxvt.color6:       base0C
URxvt.color7:       base05

URxvt.color8:       base03
URxvt.color9:       base08
URxvt.color10:      base0B
URxvt.color11:      base0A
URxvt.color12:      base0D
URxvt.color13:      base0E
URxvt.color14:      base0C
URxvt.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
URxvt*.color16:      base09
URxvt*.color17:      base0F
URxvt*.color18:      base01
URxvt*.color19:      base02
URxvt*.color20:      base04
URxvt*.color21:      base06


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! settaggi miscellanei urxvt
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.termName:         xterm-256color
URxvt.scrollBar:        false
!URxvt.font:                xft:DejaVu Sans Mono:pixelsize=13:antialias=true
URxvt.font:		xft:Hack:pixelsize=15:antialias=true
!URxvt.font:		xft:Inconsolata Medium:pixelsize=13:antialias=true
!URxvt.font:             xft:Dank Mono:pixelsize=12:antialias=true
URxvt.visualBell:        true
URxvt.urgentOnBell:         true
! Link clickabili
!URxvt.perl-ext-common: default,matcher
!URxvt.urlLauncher: /usr/bin/firefox
!URxvt.matcher.button: 1 
URxvt.intensityStyles: false
